$yellow: #FFD170;
$yellow-shadow: #F9BA62;
$blue: #51A7FF;
$blue-shadow: #248BE6;
$red: #FB6172;
$red-shadow: #B74D62;
$purple: #B86EE6;
$puprle-shadow: #774391;
$cyan: #36C7CC;
$cyan-shadow: #00A6A8;
